@page
@using System.Net
@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Mvc.Rendering
@using Server.Pages
@model Server.Pages.SupportersAdminPanelModel

@{
    ViewBag.Title = "Supporters Admin Panel";
}

@functions {
    private const string UrlPattern = @"(((?<scheme>http(s)?):\/\/)?([\w-]+?\.\w+)+([a-zA-Z0-9\~\!\@\#\$\%\^\&amp;\*\(\)_\-\=\+\\\/\?\.\:\;\,]*)?)";

    private string LinkifyComment(string str)
    {
        return Regex.Replace(str, UrlPattern, "<a href=\"$1\" target=\"_blank\">$1</a>");
    }
}

<h1>Add/update user</h1>
<form method="post">
    <input type="number" name="steamId" required placeholder="Steam ID"><br>
    <input type="number" name="patreonLevel" required placeholder="New level"><br>
    <input name="comment" placeholder="Comment"><br>
    <button>Submit</button>
</form>

<hr />

<h1>Existing users</h1>
<table>
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => new PatreonPlayer().SteamId)
        </th>
        <th>
            @Html.DisplayNameFor(model => new PatreonPlayer().PatreonLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => new PatreonPlayer().Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => new PatreonPlayer().PatreonEndDate)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in await Model.GetAllSupporters()) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.SteamId)
            </td>
            <td>
                @Html.DisplayFor(model => item.PatreonLevel)
            </td>
            <td>
                @Html.Raw(LinkifyComment(WebUtility.HtmlEncode(item.Comment ?? "")))
            </td>
            <td>
                @if (item.PatreonEndDate != null)
                {
                    @Html.DisplayFor(model => item.PatreonEndDate)
                }
                else
                {
                    <text>(managed manually)</text>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

...@(await Model.GetExpiredSupporterCount()) expired supporters
